<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="AppName" value="校企合作管理系统"/>
  <add key="AppDescription" value="校企合作管理系统-****学院"/>

  <add key="UploadType" value="jpg,png,gif,pdf,doc,docx,xls,xlsx,ppt,pptx,txt,rar,zip"/>
  <add key="UploadSavePath" value="/Resource/"/>
  <add key="UploadMaxByte" value="20971520"/>

  <add key="DomainName" value="api.sems.com"/>

  <!--解决nginx代理后swagger访问带端口问题-->
  <add key="aspnet:UseHostHeaderForRequestUrl" value="true"/>
</appSettings>