<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <!--<add name="Default" connectionString="Server=localhost; Database=SchoolEnterpriseManageSys; Trusted_Connection=True;" providerName="System.Data.SqlClient" />-->
  <add name="Default" connectionString="Data Source=****;port=****;Initial Catalog=****;uid=****;password=****;Charset=utf8mb4" providerName="MySql.Data.MySqlClient" />
</connectionStrings>