<page-header title="导入 - 校内共建基地"></page-header>

<nz-card>
  <p>
    <button nz-button (click)="download()">下载导入模板</button>
    <input type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" (change)="change($event)" multiple="false" class="ml-sm" />
  </p>
  <p>
    <nz-table #nzTable [nzData]="targetList" [nzHideOnSinglePage]="true" [nzFrontPagination]="false" [nzLoading]="loading">
      <thead>
        <tr>
          <th>#</th>
          <th>系别</th>
          <th>依托专业</th>
          <th>单位名称</th>
          <th>联系人</th>
          <th>建立时间</th>
          <th>结束时间</th>
          <th>申报情况</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of nzTable.data index as i">
          <td>{{i+1}}</td>
          <td>{{item.departmentName}}</td>
          <td>{{item.science}}</td>
          <td>{{item.enterpriseName}}</td>
          <td>{{item.principal}}</td>
          <td>{{item.startTime|date:'yyyy-MM-dd'}}</td>
          <td>{{item.endTime|date:'yyyy-MM-dd'}}</td>
          <td>{{item.reportLevelText}}</td>
          <td>
            <a (click)="del(item)">删除</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </p>
  <p>
    <button nz-button (click)="upload()" [nzLoading]="loading">确定上传</button>
  </p>
</nz-card>
